* {
    transition: all .5s;
}

:root {
  --color-primary: #212121;
  --color-primary-dark: #423645;
  --color-primary-light: #deb8bd;

  --color-secondary: #e9ecef;
  --color-secondary-dark: #ced4da;
  --color-secondary-light: #f8f9fa;

  --color-accent: #48bb78;
  --color-accent-dark: #43a76c;
  --color-accent-light: #7deea7;
}

.dark * {
  --color-primary: #deb8bd;
  --color-primary-dark: #deb8bd;
  --color-primary-light: #e9ecef;
  
  --color-secondary: #183329;
  --color-secondary-dark: #183329;
  --color-secondary-light: #423645;
  
  --color-accent: #423645;
  --color-accent-dark: #423645;
  --color-accent-light: #d174e0;
}
 